@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}


input, textarea {
    @apply border py-2 px-2 w-full rounded-lg
}

 label {
    display: block;
    margin-bottom: .2rem;
    color: black;
 }